# ====================
# Python
# ====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
*.env
*.venv
*.egg-info/
dist/
build/

# ====================
# Node / Next.js
# ====================
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ====================
# Editor / OS
# ====================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ====================
# Docker
# ====================
*.dockerignore
*.log
docker-compose.override.yml

# ====================
# Misc
# ====================
*.sqlite3
*.db
